{% extends 'bet/index.html'%}
{% load crispy_forms_tags %}
{% load bet_tags %}

{% block title %}Bets{% endblock %}

{% block content %}
      <div class="site-blocks-vs site-section bg-light">
        <div class="container">
            <div class="row mb-5">
          <div class="col-md-12">
            <div class="border mb-3 rounded d-block d-lg-flex align-items-center p-3 next-match">
              <div class="mr-auto order-md-1 w-60 text-center text-lg-left mb-3 mb-lg-0">
                Matchweek start:
                <div id="date-countdown" data-start-time="{{ matchweek.start_date|date:'Y-m-d' }}"></div>
              </div>

              <div class="ml-auto pr-4 order-md-2">
                <div class="h5 text-black text-uppercase text-center text-lg-left">
                    <span class="h1">Matchweek {{ matchweek.matchweek }}</span>
                </div>
              </div>


            </div>
          </div>
        </div>

        <!-- last match sector -->
        {% for match in matches %}
            {% check_user_choice match.pk user_bets as chose %}
            <div class="bg-image overlay-success rounded mb-5" style="background-image: url(/media/website_img/EPL_Cover.webp);" data-stellar-background-ratio="0.5">

            <div class="row align-items-center">
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">

                  <div class="text-center text-lg-left">
                    <div class="d-block d-lg-flex align-items-center">
                      <div class="image mx-auto mb-3 mb-lg-0 mr-lg-3">
                        <img src="{{ match.home_team.crest }}" alt="HomeCrest" class="img-fluid">
                      </div>
                      <div class="text">
                        <h3 class="h5 mb-0 text-black">{{ match.home_team.short_name }}</h3>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-12 col-lg-4 text-center mb-4 mb-lg-0">
                  <div class="d-inline-block">
                    <p class="mb-2"><small class="text-uppercase text-black font-weight-bold">Premier League &mdash; Matchweek {{ match.matchweek.matchweek }}</small></p>
                        {% if is_started %}

                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="btn-group btn-group-lg" role="group" aria-label="...">
                                        <button type="submit" class="btn {% if chose.0 == 'home' %}btn-primary{% else %}btn-outline-primary{% endif %}" name="bet" value="home {{ match.id }}">Home</button>
                                        <button type="submit" class="btn {% if chose.0 == 'draw' %}btn-primary{% else %}btn-outline-primary{% endif %}" name="bet" value="draw {{ match.id }}" >Draw</button>
                                        <button type="submit" class="btn {% if chose.0 == 'away' %}btn-primary{% else %}btn-outline-primary{% endif %}" name="bet" value="away {{ match.id }}">Away</button>
                                    </div>

                                </div>
                                {% if not chose.1 %}
                                    <input class='form-check-input' type="checkbox" id="id_risk" name="risk" value="True" >
                                    <label for="id_risk">Risk</label>
                                {% endif %}

                            </form>

                        {% endif %}
                    <p class="mb-0"><small class="text-uppercase text-black font-weight-bold">{{ match.start_date|date:"d F / P" }}</small></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 text-center text-lg-right">
                  <div class="">
                    <div class="d-block d-lg-flex align-items-center">
                      <div class="image mx-auto ml-lg-3 mb-3 mb-lg-0 order-2">
                        <img src="{{ match.away_team.crest }}" alt="Image" class="img-fluid">
                      </div>
                      <div class="text order-1">
                        <h3 class="h5 mb-0 text-black">{{ match.away_team.short_name }}</h3>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        {% endfor %}

      </div>
      </div>
    <div class="site-section site-blocks-vs">
      <div class="container">
        <!-- Finished Matches -->
        <div class="row align-items-center mb-5">
          <div class="col-md-12">
            {% for match in finished_matches %}
                {% user_check_bet user=user match=match as won %}
                <a href="{{ match.get_absolute_url }}">
                    <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry">
                  <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">

                    <div class="text-center text-lg-left">
                      <div class="d-block d-lg-flex align-items-center">
                        <div class="image image-small text-center mb-3 mb-lg-0 mr-lg-3">
                          <img src="{{ match.home_team.crest}}" alt="Team" class="img-fluid">
                        </div>
                        <div class="text">
                          <h3 class="h5 mb-0 text-black">{{ match.home_team.short_name}}</h3>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-4 col-lg-4 text-center mb-4 mb-lg-0">
                    <div class="d-inline-block">
                      <div class="bg-black py-2 px-4 mb-2 text-white d-inline-block rounded"><span class="h5">{{ match.home_goals }}:{{ match.away_goals }}</span></div>
                        {% if won == True %}<h4 class="text-success">WIN</h4>{% elif won == False %}<h4 class="text-danger">LOSE</h4>{% endif %}
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 text-center text-lg-right">
                    <div class="">
                      <div class="d-block d-lg-flex align-items-center">
                        <div class="image image-small ml-lg-3 mb-3 mb-lg-0 order-2">
                          <img src="{{ match.away_team.crest}}" alt="Team" class="img-fluid">
                        </div>
                        <div class="text order-1 w-100">
                          <h3 class="h5 mb-0 text-black">{{ match.away_team.short_name}}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </a>

            {% endfor %}

          </div>

        </div>
      </div>
    </div>

{% endblock %}
