{% extends 'bet/index.html'%}
{% load crispy_forms_tags %}
{% load bet_tags %}

{% block title %}Bets{% endblock %}

{% block bg_section %}
<div class="col-lg-9 mx-auto text-center" xmlns="http://www.w3.org/1999/html">
        <h1 class="text-white">Bets</h1>
        <p>Matchweek {{ mw}}</p>
    </div>

{% endblock %}

{% block content %}
    <!-- Upcoming section -->
    <div class="site-section bg-dark">
      <div class="container">
        <ul class="nav mb-5">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bet-finished' %}">Finished</a>
          </li>
        </ul>
        <div class="row mb-5">
          <div class="col-12 title-section">
            <h2 class="heading">Upcoming Match</h2>
          </div>
            {% for match in matches %}
                {% user_bet user=user match=match as chose %}
                 <div class="col-lg-12 mb-4">
                  <div class="widget-next-match">
                    <a href="{{ match.get_absolute_url }}">
                  <div class="widget-title">
                    <h3>Next Match</h3>
                  </div>
                    </a>
                  <div class="widget-body mb-3">
                    <div class="widget-vs">
                      <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                        <div class="team-1 text-center">
                          <img src="{{ match.home_team.crest}}" alt="Image">
                          <h3>{{ match.home_team.short_name }}</h3>
                        </div>
                        <div>
                          <span class="vs"><span>VS</span></span>
                        </div>
                        <div class="team-2 text-center">
                          <img src="{{ match.away_team.crest}}" alt="Image">
                          <h3>{{ match.away_team.short_name}}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center widget-vs-contents mb-4">
                    <h4>{{ match.league }}</h4>
                    <p class="mb-5">
                      <span class="d-block">{{ match.start_date|date:"F jS, Y"}}</span>
                      <span class="d-block">{{ match.start_date|date:"f A e"}}</span>
                    </p>
                    {% if is_started %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <button type="submit" class="btn {% if chose == 'home' %}btn-primary{% else %}btn-outline-primary{% endif %} py-3 px-5" name="bet" value="home {{ match.id }}">{{ match.home_team.short_name}}</button>
                                <button type="submit" class="btn {% if chose == 'draw' %}btn-primary{% else %}btn-outline-primary{% endif %} py-3 px-5" name="bet" value="draw {{ match.id }}">Draw</button>
                                <button type="submit" class="btn {% if chose == 'away' %}btn-primary{% else %}btn-outline-primary{% endif %} py-3 px-5" name="bet" value="away {{ match.id }}">{{ match.away_team.short_name}}</button>
                            </div>
                            {% user_risk match user as risk %}
                                {% if not risk %}
                                    <input class='form-check-input' type="checkbox" id="id_risk" name="risk" value="True" >
                                    <label for="id_risk">Risk</label>
                                {% endif %}

                        </form>

                    {% endif %}
                  </div>

                  </div>
              </div>
            {% endfor %}

        </div>
        <!-- Finished Matches -->
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Finished Matches</h2>
          </div>
            {% for match in finished_matches %}
                {% user_check_bet user=user match=match as won %}
                <div class="col-lg-6 mb-4">
                    <a href="{{ match.get_absolute_url }}">
                    <div class="bg-light p-4 rounded">
                      <div class="widget-body">
                          <div class="widget-vs">
                            <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                              <div class="team-1 text-center">
                                <img src="{{ match.home_team.crest}}" alt="Team">
                                <h3>{{ match.home_team.short_name}}</h3>
                              </div>

                              <div class="team-1 text-center score">
                                <h1 >{{ match.home_goals }}</h1>
                              </div>
                              <div class="team-1 text-center score">
                                <h1 >:</h1>
                              </div>
                              <div class="team-1 text-center score">
                                <h1>{{ match.away_goals }}</h1>
                              </div>

                              <div class="team-2 text-center">
                                <img src="{{ match.away_team.crest}}" alt="Team">
                                <h3>{{ match.away_team.short_name}}</h3>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="text-center widget-vs-contents mb-4">
                            {% if won == True %}<h4>WIN</h4>{% elif won == False %}<h4>LOSE</h4>{% endif %}
                        </div>
                    </div>
                </a>
                </div>

            {% endfor %}

        </div>
      </div>
    </div>

{% endblock %}
