{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Bet Game &mdash; Website by MR{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">

    <!-- link with external project -->
    <link rel="stylesheet" href="{% static 'bet/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'bet/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bet/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'bet/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'bet/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'bet/css/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'bet/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'bet/css/style.css' %}">

</head>
<body>

  <dev class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-logo">
          <a href="#"><img src="images/logo.png" alt="Image"></a>
        </div>
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

  <!-- Navibar -->
    <header class="site-navbar absolute transparent" role="banner">
      <nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
        <div class="container position-relative">
          <div class="site-logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
          </div>

          <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li class="has-children {% if request.path == '/bet/' %}active{% endif %}">
              <a href="{% url 'bet-home' %}">Bet</a>
              <ul class="dropdown arrow-top">
                <li><a href="{% url 'bet-finished' %}">Finished</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="news.html">News</a>

              <ul class="dropdown arrow-top">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul>
            </li>
            <li><a href="{% url 'profile-detail' user.username %}">Profile</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            {% else %}
             <li class="{% if request.path == '/login/' %}active{% endif %}"><a href="{% url 'login' %}">Log In</a></li>
             <li class="{% if request.path == '/register/' %}active{% endif %}"><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>


    {% block background_photo %}

    {% endblock %}

    {% block content %}

    {% endblock %}
    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">About Sportz</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
            </div>

            <div class="mb-5">
              <h3 class="footer-heading mb-4">Recent Blog</h3>
              <div class="block-25">
                <ul class="list-unstyled">
                  <li class="mb-3">
                    <a href="#" class="d-flex">
                      <figure class="image mr-4">
                        <img src="images/img_1.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <h3 class="heading font-weight-light">Lorem ipsum dolor sit amet consectetur elit</h3>
                      </div>
                    </a>
                  </li>
                  <li class="mb-3">
                    <a href="#" class="d-flex">
                      <figure class="image mr-4">
                        <img src="images/img_1.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <h3 class="heading font-weight-light">Lorem ipsum dolor sit amet consectetur elit</h3>
                      </div>
                    </a>
                  </li>
                  <li class="mb-3">
                    <a href="#" class="d-flex">
                      <figure class="image mr-4">
                        <img src="images/img_1.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <h3 class="heading font-weight-light">Lorem ipsum dolor sit amet consectetur elit</h3>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Menu</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Matches</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Team</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Membership</a></li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Follow Us</h3>

                <div>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">Watch Video</h3>

              <div class="block-16">
                <figure>
                  <img src="images/img_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                  <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                </figure>
              </div>

            </div>

            <div class="mb-5">
              <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit minima minus odio.</p>

              <form action="#" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                  </div>
                </div>
              </form>

            </div>

          </div>

        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </dev>


{#    <!-- Navbar -->#}
{#    <header class="site-navbar py-4" role="banner">#}
{##}
{#      <div class="container">#}
{#        <div class="d-flex align-items-center">#}
{#          <div class="ml-auto">#}
{#            <nav class="site-navigation position-relative text-right" role="navigation">#}
{#              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">#}
{#                  <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home'%}" class="nav-link">Home</a></li>#}
{#                {% if user.is_authenticated %}#}

{#                  <li class="{% if request.path == '/bet/' %}active{% endif %}"><a href="{% url 'bet-home' %}" class="nav-link">Bets</a></li>#}
{#                  <li class="{% if request.path == '/profiles/' %}active{% endif %}"><a href="{% url 'profile-list' %}" class="nav-link">Players</a></li>#}
{#                  <li class="{% if request.path == '/match/results/' %}active{% endif %}"><a href="{% url 'match:results' %}" class="nav-link">Results</a></li>#}
{#                  <li class="{% if request.path == '/match/fixtures/' %}active{% endif %}"><a href="{% url 'match:fixtures' %}" class="nav-link">Fixtures</a></li>#}
{#                  <li class="{% if request.path == '/event/' %}active{% endif %}"><a href="{% url 'event:list' %}" class="nav-link">Events</a></li>#}
{#                  <li class="{% if request.path == '/logout/' %}active{% endif %}"><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>#}
{##}
{#              {% else %}#}
{#                  <li class="{% if request.path == '/login/' %}active{% endif %}"><a href="{% url 'login' %}" class="nav-link">Log In</a></li>#}
{#                  <li class="{% if request.path == '/register/' %}active{% endif %}"><a href="{% url 'register' %}" class="nav-link">Register</a></li>#}
{##}
{##}
{#              {% endif %}#}
{#              </ul>#}
{#            </nav>#}
{##}
{#            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span#}
{#                class="icon-menu h3 text-white"></span></a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </header>#}
{##}
{#    <div class="hero overlay" style="background-image: url('/media/website_img/bg_3.jpg');">#}
{#      <div class="container">#}
{#        <div class="row align-items-center">#}
{#          {% block bg_section %}#}
{#          {% endblock %}#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    {% block between_section %}#}
{#    {% endblock %}#}
{##}
{#    {% if messages %}#}
{#      {% for message in messages %}#}
{#            <div class = "alert alert-danger">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endif %}#}
{##}
{#    {% block content %}#}
{##}
{#    {% endblock %}#}
{##}
{##}
{#<!--    <div class="site-section">-->#}
{#<!--      <div class="container">-->#}
{#<!--        <div class="row">-->#}
{#<!--          <div class="col-6 title-section">-->#}
{#<!--            <h2 class="heading">Videos</h2>-->#}
{#<!--          </div>-->#}
{#<!--          <div class="col-6 text-right">-->#}
{#<!--            <div class="custom-nav">-->#}
{#<!--            <a href="#" class="js-custom-prev-v2"><span class="icon-keyboard_arrow_left"></span></a>-->#}
{#<!--            <span></span>-->#}
{#<!--            <a href="#" class="js-custom-next-v2"><span class="icon-keyboard_arrow_right"></span></a>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{#<!--        </div>-->#}
{##}
{##}
{#<!--        <div class="owl-4-slider owl-carousel">-->#}
{#<!--          <div class="item">-->#}
{#<!--            <div class="video-media">-->#}
{#<!--              <img src="images/img_1.jpg" alt="Image" class="img-fluid">-->#}
{#<!--              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>-->#}
{#<!--                <span class="icon mr-3">-->#}
{#<!--                  <span class="icon-play"></span>-->#}
{#<!--                </span>-->#}
{#<!--                <div class="caption">-->#}
{#<!--                  <h3 class="m-0">Dogba set for Juvendu return?</h3>-->#}
{#<!--                </div>-->#}
{#<!--              </a>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{#<!--          <div class="item">-->#}
{#<!--            <div class="video-media">-->#}
{#<!--              <img src="images/img_2.jpg" alt="Image" class="img-fluid">-->#}
{#<!--              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>-->#}
{#<!--                <span class="icon mr-3">-->#}
{#<!--                  <span class="icon-play"></span>-->#}
{#<!--                </span>-->#}
{#<!--                <div class="caption">-->#}
{#<!--                  <h3 class="m-0">Kai Nets Double To Secure Comfortable Away Win</h3>-->#}
{#<!--                </div>-->#}
{#<!--              </a>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{#<!--          <div class="item">-->#}
{#<!--            <div class="video-media">-->#}
{#<!--              <img src="images/img_3.jpg" alt="Image" class="img-fluid">-->#}
{#<!--              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>-->#}
{#<!--                <span class="icon mr-3">-->#}
{#<!--                  <span class="icon-play"></span>-->#}
{#<!--                </span>-->#}
{#<!--                <div class="caption">-->#}
{#<!--                  <h3 class="m-0">Romolu to stay at Real Nadrid?</h3>-->#}
{#<!--                </div>-->#}
{#<!--              </a>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{##}
{#<!--          <div class="item">-->#}
{#<!--            <div class="video-media">-->#}
{#<!--              <img src="images/img_1.jpg" alt="Image" class="img-fluid">-->#}
{#<!--              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>-->#}
{#<!--                <span class="icon mr-3">-->#}
{#<!--                  <span class="icon-play"></span>-->#}
{#<!--                </span>-->#}
{#<!--                <div class="caption">-->#}
{#<!--                  <h3 class="m-0">Dogba set for Juvendu return?</h3>-->#}
{#<!--                </div>-->#}
{#<!--              </a>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{#<!--          <div class="item">-->#}
{#<!--            <div class="video-media">-->#}
{#<!--              <img src="images/img_2.jpg" alt="Image" class="img-fluid">-->#}
{#<!--              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>-->#}
{#<!--                <span class="icon mr-3">-->#}
{#<!--                  <span class="icon-play"></span>-->#}
{#<!--                </span>-->#}
{#<!--                <div class="caption">-->#}
{#<!--                  <h3 class="m-0">Kai Nets Double To Secure Comfortable Away Win</h3>-->#}
{#<!--                </div>-->#}
{#<!--              </a>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{#<!--          <div class="item">-->#}
{#<!--            <div class="video-media">-->#}
{#<!--              <img src="images/img_3.jpg" alt="Image" class="img-fluid">-->#}
{#<!--              <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>-->#}
{#<!--                <span class="icon mr-3">-->#}
{#<!--                  <span class="icon-play"></span>-->#}
{#<!--                </span>-->#}
{#<!--                <div class="caption">-->#}
{#<!--                  <h3 class="m-0">Romolu to stay at Real Nadrid?</h3>-->#}
{#<!--                </div>-->#}
{#<!--              </a>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{##}
{#<!--        </div>-->#}
{##}
{#<!--      </div>-->#}
{#<!--    </div>-->#}
{##}
{#<!--    <div class="container site-section">-->#}
{#<!--      <div class="row">-->#}
{#<!--        <div class="col-6 title-section">-->#}
{#<!--          <h2 class="heading">Our Blog</h2>-->#}
{#<!--        </div>-->#}
{#<!--      </div>-->#}
{#<!--      <div class="row">-->#}
{#<!--        <div class="col-lg-6">-->#}
{#<!--          <div class="custom-media d-flex">-->#}
{#<!--            <div class="img mr-4">-->#}
{#<!--              <img src="images/img_1.jpg" alt="Image" class="img-fluid">-->#}
{#<!--            </div>-->#}
{#<!--            <div class="text">-->#}
{#<!--              <span class="meta">May 20, 2020</span>-->#}
{#<!--              <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>-->#}
{#<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>-->#}
{#<!--              <p><a href="#">Read more</a></p>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{#<!--        </div>-->#}
{#<!--        <div class="col-lg-6">-->#}
{#<!--          <div class="custom-media d-flex">-->#}
{#<!--            <div class="img mr-4">-->#}
{#<!--              <img src="images/img_3.jpg" alt="Image" class="img-fluid">-->#}
{#<!--            </div>-->#}
{#<!--            <div class="text">-->#}
{#<!--              <span class="meta">May 20, 2020</span>-->#}
{#<!--              <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>-->#}
{#<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>-->#}
{#<!--              <p><a href="#">Read more</a></p>-->#}
{#<!--            </div>-->#}
{#<!--          </div>-->#}
{#<!--        </div>-->#}
{#<!--      </div>-->#}
{#<!--    </div>-->#}
{##}
{##}
{##}
{#    <footer class="footer-section">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-lg-3">#}
{#            <div class="widget mb-3">#}
{#              <h3>News</h3>#}
{#              <ul class="list-unstyled links">#}
{#                <li><a href="#">All</a></li>#}
{#                <li><a href="#">Club News</a></li>#}
{#                <li><a href="#">Media Center</a></li>#}
{#                <li><a href="#">Video</a></li>#}
{#                <li><a href="#">RSS</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-lg-3">#}
{#            <div class="widget mb-3">#}
{#              <h3>Tickets</h3>#}
{#              <ul class="list-unstyled links">#}
{#                <li><a href="#">Online Ticket</a></li>#}
{#                <li><a href="#">Payment and Prices</a></li>#}
{#                <li><a href="#">Contact &amp; Booking</a></li>#}
{#                <li><a href="#">Tickets</a></li>#}
{#                <li><a href="#">Coupon</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-lg-3">#}
{#            <div class="widget mb-3">#}
{#              <h3>Matches</h3>#}
{#              <ul class="list-unstyled links">#}
{#                <li><a href="#">Standings</a></li>#}
{#                <li><a href="#">World Cup</a></li>#}
{#                <li><a href="#">La Lega</a></li>#}
{#                <li><a href="#">Hyper Cup</a></li>#}
{#                <li><a href="#">World League</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3">#}
{#            <div class="widget mb-3">#}
{#              <h3>Social</h3>#}
{#              <ul class="list-unstyled links">#}
{#                <li><a href="#">Twitter</a></li>#}
{#                <li><a href="#">Facebook</a></li>#}
{#                <li><a href="#">Instagram</a></li>#}
{#                <li><a href="#">Youtube</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#        <div class="row text-center">#}
{#          <div class="col-md-12">#}
{#            <div class=" pt-5">#}
{#              <p>#}
{#                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#                Copyright &copy;#}
{#                <script>#}
{#                  document.write(new Date().getFullYear());#}
{#                </script> All rights reserved | This template is made with <i class="icon-heart"#}
{#                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>#}
{#                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#              </p>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{#      </div>#}
{#    </footer>#}
{##}
{##}
{##}
{#  </div>#}


  <!-- .site-wrap -->

  <script src="{% static 'bet/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'bet/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'bet/js/jquery-ui.js' %}"></script>
  <script src="{% static 'bet/js/popper.min.js' %}"></script>
  <script src="{% static 'bet/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bet/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'bet/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'bet/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'bet/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'bet/js/aos.js' %}"></script>

  <script src="{% static 'bet/js/main.js' %}"></script>

</body>
</html>
