{% extends 'bet/index.html'%}
{% load crispy_forms_tags %}
{% load bet_tags %}

{% block title %}Event List{% endblock %}

{% block content %}
  <div class="site-blocks-vs site-section bg-light">
      <div class="container">
        <!-- next match sector -->
        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                  <div class="col-md-12 text-center">
                    <h2 class="text-black">Events</h2>
                  </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-5">
                {% for event in object_list  %}
                  <a href="{{ event.get_absolute_url }}">
                    <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry">
                    <div class="col text-center">
                      {{ event.name }}
                    </div>

                  </div>
                  </a>
                  <!-- END row -->
                {% empty %}
                    <h1> Join to any event and achieve more points! </h1>
                {% endfor %}
                </div>

            </div>

        </div>

    </div>

  </div>


{% endblock %}
