{% extends 'bet/index.html'%}
{% load crispy_forms_tags %}
{% block title %}Update{% endblock %}

{% block bg_section %}
    <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Update</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

              <div class="form-group">
                  <button type="submit" class="btn btn-primary py-3 px-5">Update</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

{% endblock %}
