{% extends 'bet/index.html'%}
{% load crispy_forms_tags %}
{% block title %}
{% if title %}
    {{ title }}
{% else %}
    Log In
{% endif %}
{% endblock %}

{% block bg_section %}
    <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">
            {% if title %}
                {{ title }}
            {% else %}
                Log In
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

              <div class="form-group text-lg-center">
                  <button type="submit" class="btn btn-primary py-3 px-5">
                      {% if button_name %} {{ button_name }} {% else %} Log In {% endif %}
                  </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

{% endblock %}
