{% extends 'bet/index.html'%}
{% load crispy_forms_tags %}
{% load bet_tags %}

{% block title %}Home{% endblock %}


{% block bg_section %}
{% if user.is_authenticated %}
    <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Home</h1>
    </div>
{% else %}
  <div class="col-lg-5 ml-auto">
    <h1 class="text-white">Are you ready for an exciting journey?</h1>
    <p>
        Our website is the place where you can test your match prediction skills, track scores, get thrilled by matches,
        and compete with {{ amt_users }} of other users, all without the risk of losing money. Whether you're a die-hard
        Premier League fan or just enjoy an extra dose of adrenaline, we're here to provide you with the best
        experience in sports event prediction.
    </p>
    <p>
      <a href="{% url 'login' %}" class="btn btn-primary py-3 px-4 mr-3">Log In</a>
      <a href="{% url 'register' %}" class="more light">Create new account</a>
    </p>
  </div>
{% endif %}
{% endblock %}

{% block between_section %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex team-vs">
            <span class="score">{{ last_match.home_goals}}-{{ last_match.away_goals}}</span>
            <div class="team-1 w-50">
              <div class="team-details w-100 text-center">
                <img src="{{ last_match.home_team.crest }}" alt="Image" class="img-fluid">
                <h3>{{ last_match.home_team.short_name }}</h3>
              </div>
            </div>
            <div class="team-2 w-50">
              <div class="team-details w-100 text-center">
                <img src="{{ last_match.away_team.crest }}" alt="Image" class="img-fluid">
                <h3>{{ last_match.away_team.short_name }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="latest-news">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">About bets from Matchweek {{ last_bets.matchweek }}!</h2>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-4 text-lg-center">
            <h1>The amount of bets</h1>
            <div class="caption p-5">
              <h3 class="mb-3">{{ last_bets.amt_bets }}</h3>
            </div>
          </div>
          <div class="col-md-4 text-lg-center">
            <h1>The win rate of bets.</h1>
            <div class="caption p-5">
              <h3 class="mb-3">{{ last_bets.won }}</h3>
            </div>
          </div>
          <div class="col-md-4 text-lg-center">
            <h1>The amount of risk bet.</h1>
            <div class="caption p-5">
              <h3 class="mb-3">{{ last_bets.risk_win }}</h3>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="site-section bg-dark">
        <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="widget-next-match">
              <div class="widget-title">
                <h3>Next Match</h3>
              </div>
              <div class="widget-body mb-3">
                <div class="widget-vs">
                  <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                    <div class="team-1 text-center">
                      <img src="{{ next_match.home_team.crest }}" alt="Image">
                      <h3>{{ next_match.home_team.short_name }}</h3>
                    </div>
                    <div>
                      <span class="vs"><span>VS</span></span>
                    </div>
                    <div class="team-2 text-center">
                      <img src="{{ next_match.away_team.crest }}" alt="Image">
                      <h3>{{ next_match.away_team.short_name }}</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center widget-vs-contents mb-4">
                <h4>{{ next_match.matchweek.season.league }}</h4>
                <p class="mb-5">
                  <span class="d-block">{{next_match.start_date|date:"F jS, Y"}}</span>
                  <span class="d-block">{{next_match.start_date|date:"P T"}}</span>
                  <strong class="text-primary">New Euro Arena</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="widget-next-match">
              <table class="table custom-table">
                <thead>
                  <tr>
                    <th>P</th>
                    <th>Team</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>PTS</th>
                  </tr>
                </thead>
                <tbody>
                  {% for team in table %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><strong class="text-white">{{ team.team.name }}</strong></td>
                        <td>{{ team.won }}</td>
                        <td>{{ team.drawn }}</td>
                        <td>{{ team.lost }}</td>
                        <td>{{ team.points }}</td>
                      </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div> <!-- .site-section -->

    <div class="latest-news">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">The Best Players!</h2>
          </div>
        </div>

        <div class="row no-gutters">
          {% for player in top_players %}
              <div class="col-md-4 text-lg-center">
              <div class="vcard bio">
                    <a href="{% url 'profile-detail' player.user.username %}">
                      <img class="rounded-circle" src="{{ player.image.url }}" alt="Image placeholder">
                    </a>
              </div>
              <div class="caption p-5">
                <h3 class="mb-3">{{ player.sum_points }}</h3>
              </div>
            </div>
          {% empty %}
            <h1>Don't waste time and be the best player!</h1>
          {% endfor %}

        </div>

      </div>
    </div>


{% endblock %}
