{% extends 'bet/index.html'%}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}

{% block bg_section %}
    <div class="col-lg-9 mx-auto text-center">
        <div class="vcard bio">
            <img class="rounded-circle" src="{{ object.image.url }}" alt="Profile Image">
        </div>
        <h1 class="text-white">{{ object.user.username }}</h1>
        <p><span>{{ object.all_points }}</span></p>
    </div>
{% endblock %}

{% block between_section %}
    {% if not self %}
        {% with you=user %}
            <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="d-flex team-vs">
                <span class="score">{{ you.profile.all_points }} - {{ object.all_points }}</span>
                <div class="team-1 w-50">
                  <div class="team-details w-100 text-center">
                    <img src="{{ you.profile.image.url }}" alt="Image" class="rounded-circle img-fluid">
                    <h3>You</h3>
                  </div>
                </div>
                <div class="team-2 w-50">
                  <div class="team-details w-100 text-center">
                    <img src="{{ object.image.url }}" alt="Image" class="rounded-circle img-fluid">
                    <h3>{{ object.user.username }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endwith %}
    {% endif %}
{% endblock %}


{% block content %}

<div class="container site-section">
  <div class="row">
    <div class="col-6 title-section">
      <h2 class="heading">Detail</h2>
    </div>
  </div>

    <div class="row">
    <div class="col-sm-6 col-md-8">
      <div class="custom-media d-flex">
        <div class="img mr-4">
          <a href="{{ object.support_team.get_absolute_url }}">
            <img src="{{ object.support_team.crest }}" alt="Doesn't support any teams." class="img-fluid">
          </a>
        </div>
        <div class="text">
            <h2 class="mb-1">{{ object.user.username }}</h2>
            <span class="meta">Joined {{ object.user.date_joined|date:"M d, Y"}}</span>
            <h3 class="mb-1">Points:  {{ object.all_points  }}</h3>
            <h3 class="mb-1">Rank: {{ rank }} </h3> <!-- TODO rank -->
            <h3 class="mb-1">Following:  {{ amt_following }}</h3>
            <h3 class="mb-1">Followers:  {{ amt_followers }}</h3>
        </div>
      </div>
    </div>
    {% if not self %}
        <div class="col-6 col-md-4">

        <div class="custom-media d-flex">
          <div class="form-group">
            <!-- TODO Check if user is follow -->
            <input type="submit" value="Follow" class="btn btn-primary py-3 px-4 text-white">
          </div>

      </div>
    </div>
      {% else %}
          <div class="col-6 col-md-4">

                <div class="custom-media d-flex">
                  <div class="form-group">
                    <!-- TODO setting -->
                      <a type="submit" href="{% url 'profile-edit' object.user.username %}" class="btn btn-primary py-3 px-4 text-white">Setting</a>
                  </div>

              </div>
            </div>

      {% endif %}
  </div>
</div>

<!-- Description section -->
{% if object.description %}
    <div class="site-section bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-6 title-section">
              <h2 class="heading">Description</h2>
            </div>
          </div>
            <div class="text">
                <p> {{ object.description }} </p>
        </div>
      </div>
    </div>

{% endif %}

<div class="latest-news">
      <div class="container">
          <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Stats:</h2>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="bg-light p-4 rounded text-center">
              <div class="widget-body">
                  <div class="widget-vs">
                    <h1 class="heading">Bets</h1>
                  </div>
                </div>

                <div class="widget-vs-contents mb-4">
                  <h2>{{ bet_stats.amt_bets }}</h2>
                </div>

            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="bg-light p-4 rounded text-center">
              <div class="widget-body">
                  <div class="widget-vs">
                    <h1 class="heading">Win Rate</h1>
                  </div>
                </div>

                <div class="widget-vs-contents mb-4">
                  <h2>{{ bet_stats.win_rate }}%</h2>
                </div>

            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="bg-light p-4 rounded text-center">
              <div class="widget-body">
                  <div class="widget-vs">
                    <h1 class="heading">Risk bets</h1>
                  </div>
                </div>

                <div class="widget-vs-contents mb-4">
                  <h2>{{ bet_stats.risk_bets }}</h2>
                </div>

            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="bg-light p-4 rounded text-center">
              <div class="widget-body">
                  <div class="widget-vs">
                    <h1 class="heading">Win rate of risk bets.</h1>
                  </div>
                </div>

                <div class="widget-vs-contents mb-4">
                  <h2>{{ bet_stats.win_rate_risk_bet }}%</h2>
                </div>

            </div>
          </div>



        </div>


      </div>


</div></div>

<div class="site-section bg-dark">
        <div class="container">
          <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Finished Matches</h2>
          </div>
            {% for bet in bets %}
                <div class="col-lg-6 mb-4">
                    <a href="{{ bet.match.get_absolute_url }}">
                    <div class="bg-light p-4 rounded">
                      <div class="widget-body">
                          <div class="widget-vs">
                            <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                              <div class="team-1 text-center">
                                <img src="{{ bet.match.home_team.crest }}" alt="Team">
                                <h3>{{ bet.match.home_team.short_name}}</h3>
                              </div>

                              <div class="team-1 text-center score">
                                <h1 >{{ bet.match.home_goals }}</h1>
                              </div>
                              <div class="team-1 text-center score">
                                <h1 >:</h1>
                              </div>
                              <div class="team-1 text-center score">
                                <h1>{{ bet.match.away_goals }}</h1>
                              </div>

                              <div class="team-2 text-center">
                                <img src="{{ bet.match.away_team.crest}}" alt="Team">
                                <h3>{{ bet.match.away_team.short_name}}</h3>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="text-center widget-vs-contents mb-4">
                            {% if bet.is_won == True %}<h4>WIN</h4>{% elif bet.is_won == False %}<h4>LOSE</h4>{% endif %}
                        </div>
                    </div>
                </a>
                </div>

            {% endfor %}

        </div>

{% endblock %}
