{% extends 'bet/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="content-section">

    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <!-- Picture section -->
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            </div>
        </div>
        <div class="col">
          <!-- About user section -->
            <h1>{{ user.username }}</h1>
            <p>{{ object.user.date_joined|date:"d M Y"  }}</p>
            {% if user.profile.support_team %}
                <img src="{{ user.profile.support_team.crest }}" class="rounded mx-auto d-block">
            {% endif %}
        </div>
        <div class="col">
            <!-- Points sector -->
            <h1>{{ object.all_points }}</h1>
            <h5>{{ object.current_season_points}}</h5>
        </div>
      </div>
    </div>
</div>

<div class="content-section">

    <div class="container text-center">
        <div class="container text-center">
            <h1>Stats</h1>
        </div>
        <p>Win rate: {{ win_rate }}%</p>

    </div>
</div>



{% endblock %}
