{% extends 'bet/index.html'%}
{% load crispy_forms_tags %}
{% load bet_tags %}

{% block title %}{{ title }}{% endblock %}

{% block bg_section %}
<div class="col-lg-9 mx-auto text-center" xmlns="http://www.w3.org/1999/html">
        <h1 class="text-white">{{ title }}</h1>
        <p>Season {{ season_name }}</p>
    </div>

{% endblock %}

{% block content %}
    <div class="site-section bg-dark">
      <div class="container">

        <!-- Finished Matches -->
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Matches</h2>
          </div>
            <div class="sidebar-box">
              <form method="GET" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" name='name_team' class="form-control" placeholder="Type a name team and hit enter">
                </div>
              </form>
            </div>
            {% for match in object_list %}
                <div class="col-lg-6 mb-4">
                    <a href="{{ match.get_absolute_url }}">
                    <div class="bg-light p-4 rounded">
                      <div class="widget-body">
                          <div class="widget-vs">
                            <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                              <div class="team-1 text-center">
                                <img src="{{ match.home_team.crest}}" alt="Team">
                                <h3>{{ match.home_team.short_name}}</h3>
                              </div>
                              {% if match.finished %}
                                 <div class="team-1 text-center score">
                                <h1 >{{ match.home_goals }}</h1>
                              </div>
                                 <div class="team-1 text-center score">
                                <h1 >:</h1>
                              </div>
                                 <div class="team-1 text-center score">
                                <h1>{{ match.away_goals }}</h1>
                              </div>
                              {% else %}
                                <div>
                                   <span class="vs"><span>VS</span></span>
                                </div>
                              {% endif %}


                              <div class="team-2 text-center">
                                <img src="{{ match.away_team.crest}}" alt="Team">
                                <h3>{{ match.away_team.short_name}}</h3>
                              </div>
                            </div>
                          </div>
                        </div>

                          {% if not match.finished %}

                    <div class="text-center widget-vs-contents mb-4">
                      <p class="mb-5">
                        <span class="d-block">{{ match.start_date|date:"M dS, Y"}}</span>
                        <span class="d-block">{{ match.start_date|date:"fA e"}}</span>
                      </p>

                    </div>
                          {% endif %}

                        </div>
                    </a>
                    </div>

            {% endfor %}

        </div>
      </div>
        <section id="pagination">
            <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="custom-pagination">
            {% if page_obj.has_previous %}
              <a href="?page=1{% if request.GET.name_team %}&name_team={{ request.GET.name_team }}{% endif %}">&laquo;</a>
              <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.name_team %}&name_team={{ request.GET.name_team }}{% endif %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
            <span>{{ page_obj.number }}</span>

            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}{% if request.GET.name_team %}&name_team={{ request.GET.name_team }}{% endif %}">{{ page_obj.next_page_number}}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.name_team %}&name_team={{ request.GET.name_team }}{% endif %}">&raquo;</a>
            {% endif %}

          </div>
        </div>
      </div>
        </section>
    </div>
    </div>


{% endblock %}
